.header-logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
}

.header-nav-link {
    font-weight: 500;
    line-height: calc(16 / 14);
    color: #000000;
}

.header-contact-link {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    color: #757575;
}

a:hover {
    color: #2196f3;
    /* Синій колір при наведенні */
    transition: all 1s;
}

.business {
    display: block;
    line-height: 34px;
}

.advantages-headline {
    font-weight: 700;
}

.examples-headline {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
}

.example-item-wrapp-text {
    font-weight: 700;
    font-size: 14;
    line-height: calc(16/14);
    color: #ffffff;
}

.team-headline-title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
}

.team-name {
    font-weight: 500;
    line-height: calc(19 / 14);
}

.team-text {
    line-height: calc(19 / 16);
}

.footer-link {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
}

.footer-item-text {
    line-height: calc(21 / 14);
}

.header-contact-item {
    font-weight: 500;
    line-height: calc(16 / 14);
}

.header-item {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
}

.portfolio-filter-button {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
}

.portfolio-headline {
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36 / 18);
    color: #000000;
}

.portfolio-text {
    line-height: calc(30 / 14);
    color: #757575;
}

.footer-link {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
}

.footer-item {
    line-height: calc(21 / 14);
}

.hero-button {
    margin-top: 54px;
}

.advantages-list {
    margin-top: 94px;
}

.examples {
    margin-top: 94px;
}

.team {
    margin-top: 94px;
}

.regular-customers-title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
}

.footer-title {
    font-weight: 700;
    color: #ffffff;
}