
$--main-color: #212121;
$--second-color: #2196f3;
$--third-color: #757575;
$--fourth-color: #ffffff;
$--fifth-color: #000000;
$--team-color: #F5F4FA;
$--duration: 250ms;
$--cubic: cubic-bezier(0.4, 0, 0.2, 1);
